<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>InstaPop</title>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class="container">
    <div class="col-md-6" th:each="photo:${photoList}">
        <img th:src="${photo.image}" style=" width: 500px;"/>
    </div>
    <br><br>
    <div class="col-md-12">
        <a th:value="${photo.id}" th:href="'/delete/'+${photo.id}" class="btn btn-success">Change Filter</a>
        <form>
            <div><input type="submit" value="Continue"/></div>
        </form>
    </div>
</div><!-- /.container -->


</body>
<th:block th:replace="base :: footlinks"></th:block>
</html>